<div class="row">
  <div class="col-sm-4">
    <div class="chess-board">
      <ng-container *ngFor="let cell of board; let i = index">
        <div *ngFor="let cell of board[i]; let j = index" class="board-cell" [class.cell-highlighted]="isResultCell(j, invertYAxis(i))"
          (click)="getCoordinates(j, invertYAxis(i))">
          {{ getLetter(j) + invertYAxis(i -1)}}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="moves">Nr of Moves</label>
      <input [(ngModel)]="nMoves" class="form-control">
    </div>

    <div class="form-group" *ngIf="result">
      <label> result: {{ result }}</label>
    </div>
  </div>
</div>